.DS_Store
*~
*.tmp
*.swp
*diff
*diff.color
src/ontology/tmp/
src/ontology/tmp/mirror
src/ontology/tmp/mirror/*
src/ontology/mirror
src/ontology/mirror/*
src/ontology/plana.obo
src/ontology/plana.owl
src/ontology/plana-base.owl
semantic.cache
bin/
src/ontology/seed.txt
src/ontology/target/
src/ontology/dosdp-tools.log
src/patterns/imports/seed_sorted.txt
src/ontology/ed_definitions_merged.owl
src/ontology/patterns
*.tmp.obo
*.tmp.owl
