
!src/ontology/tmp/README.md
*.swp
*.tmp
*.tmp.json
*.tmp.obo
*.tmp.owl
*diff
*diff.color
*~
.DS_Store
.github/token.txt
bin/
semantic.cache
src/ontology/dosdp-tools.log
src/ontology/ed_definitions_merged.owl
src/ontology/imports/*_terms_combined.txt
src/ontology/merged-plana-edit.owl
src/ontology/mirror
src/ontology/mirror/*
src/ontology/ontologyterms.txt
src/ontology/patterns
src/ontology/plana-base.*
src/ontology/plana-base.owl
src/ontology/plana-basic.*
src/ontology/plana-full.*
src/ontology/plana-simple-non-classified.*
src/ontology/plana-simple.*
src/ontology/plana.json
src/ontology/plana.obo
src/ontology/plana.owl
src/ontology/reports/*
src/ontology/run.sh.conf
src/ontology/run.sh.env
src/ontology/seed.txt
src/ontology/simple_seed.txt
src/ontology/target/
src/ontology/tmp/
src/ontology/tmp/*
src/ontology/tmp/mirror
src/ontology/tmp/mirror/*
src/patterns/all_pattern_terms.txt
src/patterns/data/**/*.ofn
src/patterns/data/**/*.txt
src/patterns/imports/seed_sorted.txt
src/patterns/pattern_owl_seed.txt